.navbar{
    border: 2px solid purple;
    border-radius: 30px;
    padding:20px 25px ;
    box-shadow:1px 1px 5px purple;
    width: 300px;

    
}
.icon-tooltip i{
    font-size: 20px;
    transition: 1s;
}
.icon-tooltip i:hover{
    transform: scale(1.2);
    text-shadow: 2px 2px 20px purple;

}
.icon-tooltip {
    position: relative;
    display: inline-block;
    
}
.icon-tooltip a{
    color: white;
}
.tooltip-text {
    visibility: hidden;
    color:purple;
    text-align: center;
    padding: 5px 8px;
    border-radius: 6px;
    position: absolute;
    bottom: 170%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 16px;
    white-space: nowrap;
}

.icon-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    font-weight: bold;
}